<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:rim="http://www.blackberry.com/ns/widgets"
		version="1.0.3"
		rim:header="RIM-Widget:rim/widget"
		id="bayesCalc">

	<name>Bayes' Theorem Calculator</name>
	<description>
	  Calculate posterior probabilities from prior probabilities
	  and conditional probability.
	</description>

	<content src="index.html"/>
	<icon src="icon.gif"/>

	<author href="http://setikites.com">Michael B. Moore</author>
	<license href="http://www.apache.org/licenses/LICENSE-2.0">
	  Licensed under the Apache License, Version 2.0 (the "License");
	  you may not use this file except in compliance with the License.
	  You may obtain a copy of the License at
	  http://www.apache.org/licenses/LICENSE-2.0
	  Unless required by applicable law or agreed to in writing, software
	  distributed under the License is distributed on an "AS IS" BASIS,
	  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
	  See the License for the specific language governing permissions and limitations under the License.
	</license>
	
</widget>
